{% extends "member/base.html" %}

{% block title %}
    Publications
{% endblock %}

{% block headline %}
    Publications
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Publications</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h3>Articles</h3>
        </div>
    </div>
    {% if user_articles %}
        {% for article in user_articles %}
            {% if article.is_visible %}
                <div class="row article-publication-item published">
            {% else %}
                <div class="row article-publication-item">
            {% endif %}
                <div class="large-1 columns">
                    <div class="date-box">
                        {% with date=article.pubdate %}
                            {% include "misc/datebox.part.html" %}
                        {% endwith %}
                    </div>
                </div>
                <div class="large-10 columns">
                    <a href="{{ article.get_absolute_url }}">{{ article.title }} </a>
                    <p>{{ article.description }}</p>
                </div>
                <div class="large-1 columns">
                    <a href="{{ article.get_edit_url }}">
                        <i class="icon-edit"></i>
                        Éditer
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="large-12 columns">
                Aucun article n'a été rédigé.
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="large-12 columns">
            <h3>Tutoriels</h3>
        </div>
    </div>

    {% if user_tutorials %}
        {% for tuto in user_tutorials %}
            {% if tuto.is_visible %}
                <div class="row article-publication-item published">
            {% else %}
                <div class="row article-publication-item">
            {% endif %}
                <div class="large-1 columns">
                    <div class="date-box">
                        {% with date=tuto.pubdate %}
                            {% include "misc/datebox.part.html" %}
                        {% endwith %}
                    </div>
                </div>
                <div class="large-10 columns">
                    <a href="{{ tuto.get_absolute_url }}">{{ tuto.title }}</a>
                    <p>{{ tuto.description }}</p>
                </div>
                <div class="large-1 columns">
                    <a href="{% url "pdp.tutorial.views.edit_tutorial" %}?tutoriel={{ tuto.pk }}">
                        <i class="icon-edit"></i>
                        Éditer
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="large-12 columns">
                Aucun tutoriel n'a été rédigé.
            </div>
        </div>
    {% endif %}

{% endblock %}
