/* Fix bug on textareas with Foundation, see https://groups.google.com/forum/?fromgroups#!topic/foundation-framework-/b2uVmpvW7wI */
textarea {
    height: auto;
}

p, ul, ol, td, th {
    font-size: emCalc(14px);
}

h1, h2 {
    a {
        color: darken($primary-color, 25%);
    }
}

ul, ol {
    margin-left: emCalc(40px);
}

table {
    width: 100%;
}

header {
    background-color: darken($primary-color, 10%);
    background-image: url("../img/header_background.png");

    h1, p {
        color: white;
    }

    p {
        padding-bottom: emCalc(5px);
    }

    margin-bottom: emCalc(30px);
}

nav.top-bar {
    @include box-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
    .dropdown {
        text-shadow: none;

        a:hover {
            background-color: darken($primary-color, 5%);
        }
    }
    .name {
        h1 { display: inline-block; }
        a { padding: 0px 15px 0px 10px; }
        img {
            position: relative;
            top: -2px;
        }
    }
}

/* Topbar gradient (but not for folded topbar) */

.top-bar {
    background-image: linear-gradient(rgb(84, 180, 235), rgb(47, 164, 231)) ;
}

@media #{$small} {
    .top-bar-section li:not(.active) a:not(.button) {
        background-image: linear-gradient(rgb(84, 180, 235), rgb(47, 164, 231)) ;
    }
    .top-bar-section .dropdown li a {
        background-image: none !important;
    }
}

.top-bar, header {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.asteriskField {
    color: $alert-color;
}

.breadcrumbs {
    @include text-shadow(1px 1px 0px rgb(255, 255, 255));
}

.headline-actions {
    margin-top: emCalc(24px);
}

.footer {
    border-top: solid 1px $secondary-color;

    margin-top: emCalc(14px);
    padding-top: emCalc(14px);
}

/* Alert boxes colors */
/* Do not regroup in an .alert-box block, does not work otherwise */
.alert-box {
    @include text-shadow(0px 1px 0px rgba(255, 255, 255, 0.5));
    color: rgb(221, 86, 0);
    background-color: rgb(241, 206, 171);
    border: 1px solid rgb(239, 185, 158);

    .close {
        margin-top: emCalc(3px);
    }
}

.alert-box.success {
    color: rgb(102, 149, 51);
    background-color: rgb(213, 236, 191);
    border-color: rgb(210, 230, 171);
}

.alert-box.error {
    color: rgb(189, 66, 71);
    background-color: rgb(242, 189, 177);
    border-color: rgb(240, 165, 164);
}

.alert-box.info {
    color: rgb(23, 138, 204);
    background-color: rgb(167, 223, 241);
    border-color: rgb(136, 228, 236);
}

/* Center images in markdown content */
.markdown img {
    display: block;
    margin: 0 auto;
}

.article-publication-item{
    padding-bottom: emCalc(5px);
    padding-top: emCalc(10px);
    margin-top: emCalc(5px);
    margin-bottom: emCalc(5px);
}

.date-box {
    background-color: rgb(204,204,204);
    text-align : center;
    padding-top: emCalc(5px);
    padding-bottom: emCalc(5px);
}

.date-box-month {
    font-size: emCalc(11px);
    display: block;
}

.date-box-day {
    font-weight: bold;
    display: block;
    font-size: emCalc(18px);
}

.date-box-year {
    display: block;
    font-size: emCalc(11px);
}

.published {
    background-color: lighten(rgb(213, 236, 191), 10%);
}

// No bold font for switches
div.switch label {
    font-weight: normal;
}

// Correct bad font size for lists
li p {
    font-size: emCalc(16px);
}
