<div class="row hide-for-small">
	<div class="large-12 columns">
		<div class="large-2 columns">
			<a class="radius button secondary" href="javascript:;" onclick="h1('id_text')" title="Entête 1"><i class="size-16">H1</i></a>
			<a class="radius button secondary" href="javascript:;" onclick="h2('id_text')" title="Entête 2"><i class="size-12">H2</i></a>
		</div>
		<div class="large-2 columns">
			<a class="button secondary" href="javascript:;" onclick="bold('id_text')" title="Gras" ><i class="fi-bold size-18"></i></a>
			<a class="button secondary" href="javascript:;" onclick="italic('id_text')" title="Italique"><i class="fi-italic size-18"></i></a>
		</div>
		<div class="large-2 columns">
			<a class="button secondary" href="javascript:;" onclick="bulletlist('id_text')" title="Liste bullet"><i class="fi-list-bullet size-18"></i></a>
			<a class="secondary button" href="javascript:;" onclick="numericlist('id_text')" title="Liste numérique"><i class="fi-list-number size-18"></i></a>
		</div>
		<div class="large-3 columns">
			<a class="secondary button" href="javascript:;" onclick="link('id_text')" title="Lien"><i class="fi-link size-18"></i></a>
			<a class="secondary button" href="javascript:;" onclick="image('id_text')" title="Image"><i class="fi-photo size-18"></i></a>
			<a class="secondary button" href="javascript:;" onclick="citation('id_text')"  title="Citation"><i class="fi-quote size-18"></i></a>
			<a class="secondary button" href="javascript:;" onclick="secret('id_text')"  title="Secret"><i class="fi-key size-18"></i></a>
		</div>
		<div class="large-3 columns">
			<a class="secondary button" href="javascript:;" onclick="codeline('id_text')" title="Code monoligne"><i class="size-18">&lsaquo; / &rsaquo;</i></a>
			<a class="secondary button" href="javascript:;" onclick="code('id_text')" title="Code multiligne"><i class="size-18">&lsaquo; /.. &rsaquo;</i></a>
		</div>
	</div>
</div>
