{% extends "article/base.html" %}
{% load emarkdown %}
{% load markup %}
{% load humane_date %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block headline %}
    {% if article.thumbnail %}
        <span>
            <img src="{{ article.thumbnail.url }}" alt="Icône" class="hide-for-small"/>
        </span>
    {% endif %}
    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a><br />
    <small>{{ article.description }}</small>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ article.title }}</a></li>
{% endblock %}

{% block headline-actions %}
    {% ifequal user article.author %}
        <form action="{% url "pdp.article.views.modify" %}" method="POST">
            <div class="button-group">
                <a href="/articles/editer?article={{ article.pk }}" class="button">
                    <i class="icon-pencil"></i>
                    Éditer
                </a>
                <a href="#" class="button secondary" data-dropdown="delete-drop">
                    Supprimer
                </a>
                <div id="delete-drop" class="f-dropdown small content" data-dropdown-content>
                    <p>
                        Si vous supprimez cet article, il sera alors impossible de le modifier/consulter de nouveau.
                    </p>
                    <button type="submit" name="delete" class="button expand alert">
                        <i class="icon-remove"></i>
                        Confirmer la suppression
                    </button>
                </div>
            </div>

            <input type="hidden" name="article" value="{{ article.pk }}" />
            {% csrf_token %}
        </form>
    {% endifequal %}
{% endblock %}

{% block content %}

{% if article.is_visible %}
    {% include "article/view_pager.part.html" %}
{% endif %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Rédigé par
            {% with member=article.author %}
                {% include "member/member_item_common.part.html" %}
            {% endwith %}
            et publié
            {{ article.pubdate|humane_date }}.
            <br />
            Tags : 
            {% for tag in article.tags.all %}
                <a href="{% url "haystack_search" %}?q={{ tag.name }}&amp;models=article.article">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </p>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        {{ article.text|emarkdown }}
    </div>
</div>

{% if article.is_visible %}
    {% include "article/view_pager.part.html" %}
{% else %}
<div class="row">
    <div class="large-12 columns">
        <p>
            Cet article n'a pas encore été mis en ligne.
        </p>
    </div>
</div>
{% endif %}

{% endblock %}
