{% extends "forum/base.html" %}

{% block title %}
    Liste des forums
{% endblock %}

{% block meta %}
    <meta name="description" content="Les forums vous permettent de venir poser
    vos questions aux autres membres mais aussi de s'entrainer ou tout
    simplement de discuter.  Cela fonctionne également dans l'autre sens : vous
    pouvez ici aider les autres et proposer des exercices au reste de la
    communauté." />
{% endblock %}

{% block header %}
    <h1>
        <i class="icon-comments icon-large"></i>
        Forums
    </h1>
    <p>
        Les forums vous permettent de venir poser vos questions aux autres membres mais aussi de s'entrainer ou <strong>tout simplement de discuter</strong>.
        Cela fonctionne également dans l'autre sens : vous pouvez ici aider les autres et proposer des exercices au reste de la communauté.
    </p>
{% endblock %}

{% block headline %}
   Liste des forums
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="javascript:;">Index</a></li>
{% endblock %}

{% block headline-actions %}
    <div class="button-group">
        {% include "forum/feeds.part.html" %}
    </div>
{% endblock %}

{% block content %}

{% if categories %}
    {% for category in categories %}
        <div class="row">
            <div class="large-12 columns">
                <h2>
                    {{ category.title }}
                </h2>
            </div>
        </div>
        {% include "forum/forums_common.part.html" %}
    {% endfor %}
{% else %}
    <div class="row">
        <div class="large-12 columns">
            <p>Aucune catégorie.</p>
        </div>
    </div>
{% endif %}

{% endblock %}
